!!! 5
html(lang="en")
  head
    script(src="http://www.google.com/jsapi")
    != SocketStream
    meta(charset="utf-8")
    title Welcome
    script
      window.google.load("swfobject", "2.2");
      window.google.setOnLoadCallback(function(ev) {
        var params = {allowScriptAccess: "always"};
        var atts = {id: "ytPlayer"};
        var url = "http://www.youtube.com/apiplayer?enablejsapi=1&playerapiid=player1&version=3";
        swfobject.embedSWF(url, "video-wrap", "540", "320", "9", null, null, params, atts);
      });
  body
    #content
      form#room-form
        input#room-name(type="text", value="", autocomplete='off', placeholder='Enter a room name')
      #video-wrap
        a(href="http://www.adobe.com/go/getflashplayer", target="_blank")
          img(alt="Get Flash", src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif")
      #seek-slider
      form#yt-form.hide
        input(id='yt-link', type='text', placeholder="Enter a YouTube link", autocomplete='off')
